<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="../etudiant">Etudiant</a>
            <a class="nav-item nav-link" href="../matiere">Matiere</a>
            <a class="nav-item nav-link" href="../projet">Projet</a>
            <a class="nav-item nav-link" href="../intervenant">Intervenant</a>
            
        </div>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
