{% extends 'base.html.twig' %}

{% block title %}Matiere{% endblock %}

{% block body %}
    <h1>Matiere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ matiere.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ matiere.nom }}</td>
            </tr>
            <tr>
                <th>Moyenne</th>
                <td>{{matiere.getProjetMoyenne}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('matiere_index') }}">back to list</a>

    <a href="{{ path('matiere_edit', {'id': matiere.id}) }}">edit</a>

    {{ include('matiere/_delete_form.html.twig') }}
{% endblock %}
